synapse/pipeline/laptop_data_pipeline.json
{
	"name": "laptop_data_pipeline",
	"properties": {
		"activities": [
			{
				"name": "01_ingesta_raw_a_processed",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "01_ingesta_raw_a_processed",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sparkpoollaptop",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": "true",
						"spark.dynamicAllocation.minExecutors": "1",
						"spark.dynamicAllocation.maxExecutors": "2"
					},
					"numExecutors": 1
				}
			},
			{
				"name": "02_processed_to_curated",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "01_ingesta_raw_a_processed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "02_processed_to_curated",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sparkpoollaptop",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": "true",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "3"
					},
					"numExecutors": 2
				}
			},
			{
				"name": "CheckQuarantine",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "01_ingesta_raw_a_processed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(activity('01_ingesta_raw_a_processed').output.runOutput), 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "03_quarantine_to_rejected",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:15:00",
								"retry": 1,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "03_quarantine_to_rejected",
									"type": "NotebookReference"
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "sparkpoollaptop",
									"type": "BigDataPoolReference"
								},
								"executorSize": "Small",
								"conf": {
									"spark.dynamicAllocation.enabled": "true",
									"spark.dynamicAllocation.minExecutors": "1",
									"spark.dynamicAllocation.maxExecutors": "2"
								},
								"numExecutors": 2
							}
						}
					]
				}
			},
			{
				"name": "04_eda_y_visualizacion",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "02_processed_to_curated",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "CheckQuarantine",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "04_eda_y_visualizacion",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sparkpoollaptop",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": "true",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "3"
					},
					"numExecutors": 2
				}
			},
			{
				"name": "05_modelado_ml",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "04_eda_y_visualizacion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "05_modelado_ml",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sparkpoollaptop",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": "true",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "3"
					},
					"numExecutors": 2
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-05-01T22:13:07Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}
